<ion-header class="headerPrincipal">
    <ion-toolbar color="primary" class="toolbarTopo">
        <ion-grid>
            <ion-row>
                <ion-title class="logoHeader">
                    VIC KB
                </ion-title>
                <ion-button fill="clear">
                    <ion-icon name="create" color="light" class="logoHeaderPrincipal"></ion-icon>
                </ion-button>
                <ion-button fill="clear">
                    <ion-icon name="exit" color="light" class="logoHeaderPrincipal"></ion-icon>
                </ion-button>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
    <div class="barraMenuHeader">
        <ion-grid>
            <ion-row class="ion-text-center">
                <ion-col>
                    <ion-text color="secondary">

                        <a>Produto Contábil</a>

                    </ion-text>
                </ion-col>
                <ion-col>
                    <ion-text color="secondary">

                        <a>Cobrança</a>

                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="topoFiltroECriticidade">
        <ion-grid>
            <ion-row>
                <div>
                    <ion-col>
                        <ion-text class="grave criticidadeAlert">32</ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-text class="medio criticidadeAlert">07</ion-text>
                    </ion-col>

                    <ion-col>
                        <ion-text class="fraco criticidadeAlert">04</ion-text>
                    </ion-col>

                    <ion-col>
                        <ion-text class="todos criticidadeAlert">43</ion-text>
                    </ion-col>
                </div>
                <ion-col>
                    <div class="navBar">
                        <div class="dropdown">
                            <button class="dropBtn"><a class="textoDropdown">Todos</a>
                            <ion-icon class="iconeDropdown" name="arrow-dropdown" md="ios-arrow-dropdown"></ion-icon>
                            <i class="fa fa-caret-down"></i>
                          </button>
                            <div class="dropdownConteudo">
                                <a>Grave</a>
                                <a>Médio</a>
                                <a>Fraco</a>
                            </div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="cardsTela">
        <ion-row>
            <ion-col size="6">
                <ion-card class="cardsTela">
                    <ion-header translucent>
                        <ion-toolbar>
                            <ion-title class="numerosDoCardAlinhamentoPadding">
                                <div class="numerosDoCardAlinhamento">
                                    <a class="numerosDoCard">08</a>
                                </div>
                            </ion-title>
                            <ion-card-subtitle class="tituloDoCard">eSeg/KB</ion-card-subtitle>
                            <ion-card-content class="conteudoDoCard">
                                Registro existe no eseg e não existe no KB
                            </ion-card-content>
                        </ion-toolbar>
                    </ion-header>
                </ion-card>
            </ion-col>

            <ion-col size="6">
                <ion-card class="cardsTela">
                    <ion-header translucent>
                        <ion-toolbar>
                            <ion-title class="numerosDoCardAlinhamentoPadding">
                                <div class="numerosDoCardAlinhamento">
                                    <a class="numerosDoCard">08</a>
                                </div>
                            </ion-title>
                            <ion-card-subtitle class="tituloDoCard">eSeg/KB</ion-card-subtitle>
                            <ion-card-content class="conteudoDoCard">
                                Registro existe no eseg e não existe no KB
                            </ion-card-content>
                        </ion-toolbar>
                    </ion-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card class="cardsTela">
                    <ion-header translucent>
                        <ion-toolbar>
                            <ion-title class="numerosDoCardAlinhamentoPadding">
                                <div class="numerosDoCardAlinhamento">
                                    <a class="numerosDoCard">08</a>
                                </div>
                            </ion-title>
                            <ion-card-subtitle class="tituloDoCard">eSeg/KB</ion-card-subtitle>
                            <ion-card-content class="conteudoDoCard">
                                Registro existe no eseg e não existe no KB
                            </ion-card-content>
                        </ion-toolbar>
                    </ion-header>
                </ion-card>
            </ion-col>

            <ion-col size="6">
                <ion-card class="cardsTela">
                    <ion-header translucent>
                        <ion-toolbar>
                            <ion-title class="numerosDoCardAlinhamentoPadding">
                                <div class="numerosDoCardAlinhamento">
                                    <a class="numerosDoCard">08</a>
                                </div>
                            </ion-title>
                            <ion-card-subtitle class="tituloDoCard">eSeg/KB</ion-card-subtitle>
                            <ion-card-content class="conteudoDoCard">
                                Registro existe no eseg e não existe no KB
                            </ion-card-content>
                        </ion-toolbar>
                    </ion-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card class="cardsTela">
                    <ion-header translucent>
                        <ion-toolbar>
                            <ion-title class="numerosDoCardAlinhamentoPadding">
                                <div class="numerosDoCardAlinhamento">
                                    <a class="numerosDoCard">08</a>
                                </div>
                            </ion-title>
                            <ion-card-subtitle class="tituloDoCard">eSeg/KB</ion-card-subtitle>
                            <ion-card-content class="conteudoDoCard">
                                Registro existe no eseg e não existe no KB
                            </ion-card-content>
                        </ion-toolbar>
                    </ion-header>
                </ion-card>
            </ion-col>

            <ion-col size="6">
                <ion-card class="cardsTela">
                    <ion-header translucent>
                        <ion-toolbar>
                            <ion-title class="numerosDoCardAlinhamentoPadding">
                                <div class="numerosDoCardAlinhamento">
                                    <a class="numerosDoCard">08</a>
                                </div>
                            </ion-title>
                            <ion-card-subtitle class="tituloDoCard">eSeg/KB</ion-card-subtitle>
                            <ion-card-content class="conteudoDoCard">
                                Registro existe no eseg e não existe no KB
                            </ion-card-content>
                        </ion-toolbar>
                    </ion-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card class="cardsTela">
                    <ion-header translucent>
                        <ion-toolbar>
                            <ion-title class="numerosDoCardAlinhamentoPadding">
                                <div class="numerosDoCardAlinhamento">
                                    <a class="numerosDoCard">08</a>
                                </div>
                            </ion-title>
                            <ion-card-subtitle class="tituloDoCard">eSeg/KB</ion-card-subtitle>
                            <ion-card-content class="conteudoDoCard">
                                Registro existe no eseg e não existe no KB
                            </ion-card-content>
                        </ion-toolbar>
                    </ion-header>
                </ion-card>
            </ion-col>

            <ion-col size="6">
                <ion-card class="cardsTela">
                    <ion-header translucent>
                        <ion-toolbar>
                            <ion-title class="numerosDoCardAlinhamentoPadding">
                                <div class="numerosDoCardAlinhamento">
                                    <a class="numerosDoCard">08</a>
                                </div>
                            </ion-title>
                            <ion-card-subtitle class="tituloDoCard">eSeg/KB</ion-card-subtitle>
                            <ion-card-content class="conteudoDoCard">
                                Registro existe no eseg e não existe no KB
                            </ion-card-content>
                        </ion-toolbar>
                    </ion-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </div>
</ion-content>