<ion-header class="headerPrincipal">
    <ion-toolbar color="primary" class="toolbarTopo">
        <ion-grid>
            <ion-row>
                <ion-title class="logoHeader logoHeaderCentralizada">
                    VIC KB
                </ion-title>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content color="tertiary">

    <ion-grid>
        <ion-row class="ion-text-center">
            <ion-col size="4">
                <ion-button (click)="voltarMenu()" fill="clear">
                    <ion-text color="secondary">
                        <a class="txtMenuHeader">Produto Contábil</a>
                    </ion-text>
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button (click)="voltarMenu()" fill="clear">
                    <ion-text color="secondary">
                        <a class="txtMenuHeader">Cobrança</a>
                    </ion-text>
                </ion-button>
            </ion-col>
            <ion-col class="bordaMenu" size="4">
                <ion-button (click)="fechamentoAbrir()" fill="clear">
                    <ion-text color="secondary">
                        <a class="txtMenuHeader">Fechamento</a>
                    </ion-text>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let item of this.fechamentos" size="6">
                <ion-card class="cardsFechamento bordaFechamento BordaCard3">
                    <ion-card-content class="conteudoDoCardFechamento corCardFechamento">
                        <p class="nomeProcesso "><strong>{{item.sNomeFechamento}}</strong></p>
                        <br/>
                        <p class="dataProcesso "><strong>Inicio</strong>: {{item.dInicio | date:'dd/MM/yyyy'}}</p>
                        <br/>
                        <p class="dataProcesso "><strong>Fim</strong>: {{item.dFim | date:'dd/MM/yyyy'}}</p>
                        <br/>
                        <p class="statusProcesso "><strong>Status</strong>: {{item.sStatus}}</p>
                        <br/>
                        <p class="statusProcesso "><strong>Processo Bloqueado</strong>: {{item.bFechamentoBloqueado?'Sim':'Não'}}</p>
                        <br/>
                        <div class="btnAlinhar">
                            <ion-button (click)="modalFechamento(item.dCompetencia,item.dInicio,item.dFim,item.sNomeFechamento)" class="buttonBloquear" fill="clear">
                                <p class="textoBloquear"> Bloquear </p>
                            </ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>