<ion-header class="headerPrincipal">
    <ion-toolbar color="primary" class="toolbarTopo">
        <ion-grid>
            <ion-row>
                <ion-button fill="clear">
                    <ion-icon name="md-arrow-back" color="light" class="logoHeaderPrincipal"></ion-icon>
                </ion-button>
                <ion-title class="logoHeader logoHeaderCentralizada">
                    VIC KB
                </ion-title>
                <ion-button fill="clear">
                    <ion-icon name="exit" color="light" class="logoHeaderPrincipal"></ion-icon>
                </ion-button>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content color="tertiary">
        <div class="informacoesMenuForm">
            <ion-grid>
                <ion-row class="ion-text-left">
                    <ion-col>
                        <ion-text color="secondary">

                            <a>Nova Validação</a>

                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="formulario">
            <div>
                <div class="espacoItens">
                    <ion-text class="nomeItem">Nome</ion-text>
                    <ion-item class="itensForm">
                        <div class="inputForm">
                            <ion-input type="text" placeholder="eSeg/KB"></ion-input>
                        </div>
                    </ion-item>
                </div>
            </div>
            <div>
                <div class="espacoItens">
                    <ion-text class="nomeItem">Descrição</ion-text>
                    <ion-item class="itensForm itemDescricao">
                        <div class="inputForm">
                            <ion-textarea class="textAreaForm" type="text" placeholder="Descrição da Validação"></ion-textarea>
                        </div>
                    </ion-item>
                </div>
            </div>
            <div>
                <div class="espacoItens">
                    <ion-text class="nomeItem">Email</ion-text>
                    <ion-item class="itensForm">
                        <div class="inputForm">
                            <ion-input type="text" placeholder="example@email.com"></ion-input>
                        </div>
                    </ion-item>
                </div>
            </div>
            <div class="espacoBtnSalvar">
                <ion-button class="btnSalvar" fill="clear"><a class="textBtnSalvar">Salvar</a>
                    <ion-icon class="iconeBtnSalvar" name="md-checkmark"></ion-icon>
                </ion-button>
            </div>
        </div>
    </ion-content>