<ion-header class="headerPrincipal">
    <ion-toolbar color="primary" class="toolbarTopo">
        <ion-grid>
            <ion-row>
                <ion-button fill="clear">
                    <ion-icon name="md-arrow-back" color="light" class="logoHeaderPrincipal"></ion-icon>
                </ion-button>
                <ion-title class="logoHeader logoHeaderCentralizada">
                    VIC KB
                </ion-title>
                <ion-button fill="clear">
                    <ion-icon name="exit" color="light" class="logoHeaderPrincipal"></ion-icon>
                </ion-button>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
    <ion-row class="espacoTopo">
        <ion-col class="centerTxt">
            <ion-text color="primary" class="textTituloPag">Cadastro</ion-text>
        </ion-col>
        <ion-col text-center>
            <ion-button class="btnNova" fill="clear"><a class="textBtnNova">Nova</a>
                <ion-icon class="iconeBtnNova" name="add"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-card class="cardCadastro">
        <div class="cardCadastro">
            <ion-row>
                <ion-col class="nomeCadastro nomeCadastroBase">
                    eSeg/KB
                </ion-col>
                <ion-icon class="iconeCadastro" name="menu"></ion-icon>
            </ion-row>
            <ion-row class="conteudoCadastro">
                <ion-text>Registro existe no eSeg e não existe no KB</ion-text>
            </ion-row>
        </div>
        <div class="cardCadastro">
            <ion-row>
                <ion-col class="nomeCadastro nomeCadastroBase">
                    eSeg/KB
                </ion-col>
                <ion-icon class="iconeCadastro" name="menu"></ion-icon>
            </ion-row>
            <ion-row class="conteudoCadastro">
                <ion-text>Registro existe no eSeg e não existe no KB</ion-text>
            </ion-row>
        </div>
        <div class="cardCadastro">
            <ion-row>
                <ion-col class="nomeCadastro nomeCadastroBase">
                    eSeg/KB
                </ion-col>
                <ion-icon class="iconeCadastro" name="menu"></ion-icon>
            </ion-row>
            <ion-row class="conteudoCadastro">
                <ion-text>Registro existe no eSeg e não existe no KB</ion-text>
            </ion-row>
        </div>
        <div class="cardCadastro">
            <ion-row>
                <ion-col class="nomeCadastro nomeCadastroBase">
                    eSeg/KB
                </ion-col>
                <ion-icon class="iconeCadastro" name="menu"></ion-icon>
            </ion-row>
            <ion-row class="conteudoCadastro">
                <ion-text>Registro existe no eSeg e não existe no KB</ion-text>
            </ion-row>
        </div>
        <div class="cardCadastro">
            <ion-row>
                <ion-col class="nomeCadastro nomeCadastroBase">
                    eSeg/KB
                </ion-col>
                <ion-icon class="iconeCadastro" name="menu"></ion-icon>
            </ion-row>
            <ion-row class="conteudoCadastro">
                <ion-text>Registro existe no eSeg e não existe no KB</ion-text>
            </ion-row>
        </div>
        <div class="cardCadastro">
            <ion-row>
                <ion-col class="nomeCadastro nomeCadastroBase">
                    eSeg/KB
                </ion-col>
                <ion-icon class="iconeCadastro" name="menu"></ion-icon>
            </ion-row>
            <ion-row class="conteudoCadastro">
                <ion-text>Registro existe no eSeg e não existe no KB</ion-text>
            </ion-row>
        </div>
        <div class="cardCadastro">
            <ion-row>
                <ion-col class="nomeCadastro nomeCadastroBase">
                    eSeg/KB
                </ion-col>
                <ion-icon class="iconeCadastro" name="menu"></ion-icon>
            </ion-row>
            <ion-row class="conteudoCadastro">
                <ion-text>Registro existe no eSeg e não existe no KB</ion-text>
            </ion-row>
        </div>
        <div class="cardCadastro">
            <ion-row>
                <ion-col class="nomeCadastro nomeCadastroBase">
                    eSeg/KB
                </ion-col>
                <ion-icon class="iconeCadastro" name="menu"></ion-icon>
            </ion-row>
            <ion-row class="conteudoCadastro">
                <ion-text>Registro existe no eSeg e não existe no KB</ion-text>
            </ion-row>
        </div>
        <div class="cardCadastro">
            <ion-row>
                <ion-col class="nomeCadastro nomeCadastroBase">
                    eSeg/KB
                </ion-col>
                <ion-icon class="iconeCadastro" name="menu"></ion-icon>
            </ion-row>
            <ion-row class="conteudoCadastro">
                <ion-text>Registro existe no eSeg e não existe no KB</ion-text>
            </ion-row>
        </div>
        <div class="cardCadastro">
            <ion-row>
                <ion-col class="nomeCadastro nomeCadastroBase">
                    eSeg/KB
                </ion-col>
                <ion-icon class="iconeCadastro" name="menu"></ion-icon>
            </ion-row>
            <ion-row class="conteudoCadastro">
                <ion-text>Registro existe no eSeg e não existe no KB</ion-text>
            </ion-row>
        </div>
    </ion-card>
</ion-content>