.btnNova {
    width: 68%;
    font-weight: 600;
    border: 2px solid;
    border-radius: 60px;
}

.textBtnNova {
    color: #4D5467;
    padding-right: 13px;
}

.iconeBtnNova {
    color: #4D5467;
    font-size: 28px;
}

.espacoTopo {
    margin-top: 16px;
}

.centerTxt {
    padding-left: 12px;
    padding-top: 17px;
}

.textTituloPag {
    color: #4D5467;
    font-size: 24px;
}

.cardCadastro {
    border: 1px solid #C6C6C6;
    background-color: white;
}

.nomeCadastroBase {
    font-size: 21px;
    margin-top: 15px;
    border: 0;
    box-shadow: none;
    margin-left: 14px;
}

.iconeCadastro {
    font-size: 35px;
    padding-top: 10px;
    padding-right: 11px;
}

.conteudoCadastro {
    padding-left: 20px;
    color: #C6C6C6;
    margin-bottom: 14px;
}

.nomeCadastroBase {
    border: 0;
    box-shadow: none;
}