<ion-header class="headerPrincipal">
    <ion-toolbar color="primary" class="toolbarTopo">
        <ion-grid>
            <ion-row>
                <ion-title class="logoHeader">
                    VIC KB
                </ion-title>
                <ion-button fill="clear">
                    <ion-icon name="create" color="light" class="logoHeaderPrincipal"></ion-icon>
                </ion-button>
                <ion-button fill="clear">
                    <ion-icon name="exit" color="light" class="logoHeaderPrincipal"></ion-icon>
                </ion-button>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
    <div class="barraMenuHeader produtoBorda">
        <ion-grid>
            <ion-row class="ion-text-center">
                <ion-col>
                    <ion-button fill="clear">
                        <ion-text color="secondary">

                            <a class="txtMenuHeader">Produto Contábil</a>

                        </ion-text>

                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="Cobranca()" fill="clear">
                        <ion-text color="secondary">

                            <a class="txtMenuHeader">Cobrança</a>

                        </ion-text>

                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="topoFiltroECriticidade">
        <ion-grid>
            <ion-row>
                <div>
                    <ion-col>
                        <ion-text class="grave criticidadeAlert">30</ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-text class="medio criticidadeAlert">07</ion-text>
                    </ion-col>

                    <ion-col>
                        <ion-text class="fraco criticidadeAlert">04</ion-text>
                    </ion-col>

                    <ion-col>
                        <ion-text class="todos criticidadeAlert">43</ion-text>
                    </ion-col>
                </div>
                <ion-col>
                    <ion-label>
                        <div class="navBar">
                            <div class="dropdown bordaSelect">
                                <ion-select class="bordaSelect" placeholder="Todos">
                                    <ion-select-option value="grave">Grave</ion-select-option>
                                    <ion-select-option value="medio">Médio</ion-select-option>
                                    <ion-select-option value="fraco">Fraco</ion-select-option>
                                    <ion-select-option value="todos">Todos</ion-select-option>
                                </ion-select>
                            </div>
                        </div>
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>


    <div>
        <ion-row>
            <ion-col *ngFor="let item of this.dadosDoDia" size="6">
                <ion-card class="cardsTela graveEscuroBorda">
                    <ion-card-header class="tituloDoCard corTxtCardColorido background{{item.nCodCriticidade}}">
                     
                      <ion-card-title>eSeg/KB {{item.nQtdeOcorrencias}}</ion-card-title>
                    </ion-card-header>
                  
                    <ion-card-content  class="conteudoDoCard background{{item.nCodCriticidade}}">
                        {{item.DescricaoTipoCritica}}
                    </ion-card-content>
                  </ion-card>
                  
                <!-- <ion-card class="cardsTela graveEscuroBorda">
                    <ion-header translucent>
                        <ion-toolbar>
                            <ion-title class="tituloDoCard corTxtCardColorido background{{item.nCodCriticidade}}">
                                eSeg/KB {{item.nQtdeOcorrencias}}
                            </ion-title>                            
                            <ion-card-content class="conteudoDoCard background{{item.nCodCriticidade}}">
                                {{item.DescricaoTipoCritica}}
                            </ion-card-content>
                        </ion-toolbar>
                    </ion-header>
                </ion-card> -->
            </ion-col>
        </ion-row>
    </div>




</ion-content>