.titulo{
  color: white;
}

.navbar{
  background-color:#141f31ba;
}

.botaonavbar{
  color: white;
}

.menuPrincipal{
  padding-top: 15px;
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 1px;
  font-size: 19px;

}

.btntodos{
  text-align: center;
  border: 1px solid;
  border-radius: 30px;
  background-color: white;

}

.cardGrave{
  box-sizing: border-box;
  color: black;
  height: 100%;
  background: linear-gradient(180deg, rgba(171, 16, 16, 1) 0%, rgba(171, 16, 16, 1) 94%, rgba(139, 12, 12, 1) 95%);
  padding-top: 9px;
}

.numMenuGrave{
  border: 2px solid  #b41f2d;
  color:  #b41f2d;
}

.numMenuMedio{
  border: 2px solid  #f6b40c;
  color:  #f6b40c;  
}

.numMenuFraco{
  border: 2px solid  #046a87;
  color:  #046a87;  
}

.numMenuTodos{  
  border: 2px solid  #474747;
  color:  #474747;  
}

.menuCriticidade
{  
  border-radius: 22px;
  padding: 4px;  
  padding: 8px;
  font-weight: 600;
  margin-left: 2px;
}

.filtro{
  margin-top: 20px;
}

.numCardCanto{
  border: 1px solid white;
  color: #ab1010;
  border-radius: 19px;
  width: 27px;
  text-align: center;
  float: right;
  background: white;
  font-size: 17px;
  font-weight: 600;
  margin-right: 9px;
  padding-top: 4px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}

.cardText{
  margin-bottom: 0;
  color: white;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.cardTitle{
  margin-bottom: 1rem;
  color: white;
  font-size: 1.0rem;
  padding-left: 9px;
  
}
.msgCardEmcima{
  color: white;
  padding-left: 9px;
  font-size: 12px;
}


