  .bordaMenu {
      font-weight: bold;
      border-bottom: 3px solid;
      border-image: linear-gradient(90deg, rgba(120, 120, 120, 1) 0%, rgba(120, 120, 120, 1) 49%);
      border-image-slice: 1;
  }

  