<ion-header class="headerPrincipal">
    <ion-toolbar color="primary" class="toolbarTopo">
        <ion-grid>
            <ion-row>
                <ion-title class="logoHeader logoHeaderCentralizada">
                    VIC KB
                </ion-title>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content color="tertiary">
    <div>
        <div class="um">
            <ion-grid>
                <ion-row class="ion-text-center">
                    <ion-col>
                        <ion-button (click)="produtoContabilComparador('Produto Contábil'); bordaHeader('um')" fill="clear">
                            <ion-text color="secondary">

                                <a class="txtMenuHeader">Produto Contábil</a>

                            </ion-text>

                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button (click)="produtoContabilComparador('Cobrança'); bordaHeader('dois')" fill="clear">
                            <ion-text color="secondary">

                                <a class="txtMenuHeader">Cobrança</a>

                            </ion-text>

                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <div class="topoFiltroECriticidade">
        <ion-grid>
            <ion-row>
                <div>
                    <ion-col>
                        <ion-text id="lblTotalCriticidadeAlta" class="grave criticidadeAlert"></ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-text id="lblTotalCriticidadeMedia" class="medio criticidadeAlert"></ion-text>
                    </ion-col>

                    <ion-col>
                        <ion-text id="lblTotalCriticidadeBaixa" class="fraco criticidadeAlert"></ion-text>
                    </ion-col>

                    <ion-col>
                        <ion-text id="lblTotalCriticidadeTotal" class="todos criticidadeAlert"></ion-text>
                    </ion-col>
                </div>
                <ion-col>
                    <ion-label>
                        <div class="navBar">
                            <div class="dropdown bordaSelect">
                                <ion-select (ionChange)="filtroSelecaoCriticidade($event);" class="bordaSelect" placeholder="Todos">
                                    <ion-select-option value="1">Grave</ion-select-option>
                                    <ion-select-option value="2">Médio</ion-select-option>
                                    <ion-select-option value="3">Fraco</ion-select-option>
                                    <ion-select-option value="5">Todos</ion-select-option>
                                </ion-select>
                            </div>
                        </div>
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-row>
        <ion-col *ngFor="let item of this.dadosFiltrados" size="6 ">
            <ion-card id=" " (click)="modalBaixaReenviar(item.dDataRef,item.nCodTipoCritica,item.nCodCriticidade) " class="cardsTela BordaCard{{item.nCodCriticidade}} ">
                <ion-card-content class="conteudoDoCard background{{item.nCodCriticidade}} ">
                    <div class="subTituloRight BordaCard{{item.nCodCriticidade}} ">
                        {{item.nQtdeOcorrencias}}
                    </div>
                    <br />
                    <br />
                    <br />
                    <p class="subTitulo ">eSeg/KB</p>
                    <p>{{item.DescricaoTipoCritica}}</p>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>