<ion-header class="headerPrincipal">
    <ion-toolbar color="primary" class="toolbarTopo">
        <ion-grid>
            <ion-row>
                <ion-title class="logoHeader">
                    VIC KB
                </ion-title>
                <ion-button fill="clear">
                    <ion-icon name="create" color="light" class="logoHeaderPrincipal"></ion-icon>
                </ion-button>
                <ion-button fill="clear">
                    <ion-icon name="exit" color="light" class="logoHeaderPrincipal"></ion-icon>
                </ion-button>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
    <div class="barraMenuHeader produtoBorda">
        <ion-grid>
            <ion-row class="ion-text-center">
                <ion-col>
                    <ion-button (click)="produtoContabilComparador('Produto Contábil')" fill="clear">
                        <ion-text color="secondary">

                            <a class="txtMenuHeader">Produto Contábil</a>

                        </ion-text>

                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="produtoContabilComparador('Cobrança')" fill="clear">
                        <ion-text color="secondary">

                            <a class="txtMenuHeader">Cobrança</a>

                        </ion-text>

                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="topoFiltroECriticidade">
        <ion-grid>
            <ion-row>
                <div>
                    <ion-col>
                        <ion-text id="lblTotalCriticidadeAlta" class="grave criticidadeAlert"></ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-text id="lblTotalCriticidadeMedia" class="medio criticidadeAlert"></ion-text>
                    </ion-col>

                    <ion-col>
                        <ion-text id="lblTotalCriticidadeBaixa" class="fraco criticidadeAlert"></ion-text>
                    </ion-col>

                    <ion-col>
                        <ion-text id="lblTotalCriticidadeTotal" class="todos criticidadeAlert"></ion-text>
                    </ion-col>
                </div>
                <ion-col>
                    <ion-label>
                        <div class="navBar">
                            <div class="dropdown bordaSelect">
                                <ion-select class="bordaSelect" placeholder="Todos">
                                    <ion-select-option value="grave">Grave</ion-select-option>
                                    <ion-select-option value="medio">Médio</ion-select-option>
                                    <ion-select-option value="fraco">Fraco</ion-select-option>
                                    <ion-select-option value="todos">Todos</ion-select-option>
                                </ion-select>
                            </div>
                        </div>
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-button (click)="modalBaixaReenviar">TESTE ABRE AQ</ion-button>
    <ion-row>
        <ion-col *ngFor="let item of this.dadosFiltrados" size="6">
            <ion-card class="cardsTela BordaCard{{item.nCodCriticidade}}">
                <ion-card-content class="conteudoDoCard background{{item.nCodCriticidade}}">
                    <div class="subTituloRight BordaCard{{item.nCodCriticidade}}">
                        {{item.nQtdeOcorrencias}}
                    </div>
                    <br />
                    <br />
                    <br />
                    <p class="subTitulo">eSeg/KB</p>
                    <p>{{item.DescricaoTipoCritica}}</p>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>