/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.topoFiltroECriticidade {
    padding-top: 9px;
    padding-left: 8px;
    padding-bottom: 10px;
    margin-top: 3%;
    align-content: center;
}

.toolbarTopo {
    padding-bottom: 0px;
}

.headerPrincipal {
    background-color: #4D5467;    
}

.conteudoPage {
    background-color: #EFF3F6;
}

.listaFiltro {
    border-radius: 30px;
    padding: 0;
    margin-top: -16px;
    margin-left: 46px;
    padding: 0;
    font-size: 21px;
}

.margemFiltroCriticidade {
    margin-left: 25px;
}

.filtroCriticidade {
    padding: 0;
    padding: 0px;
    margin-left: 37px;
}

.logoHeaderPrincipal {
    font-size: 28px;
    padding-top: 25%;
}

.logoHeader {
    text-align: center;
    padding: 17px;
    border: 1.7px solid;
    border-radius: 65px;    
    height: 80%;
    margin-top: 1%;
    width: 60%;
}

.logoHeaderCentralizada {
    margin-left: 131px;
    margin-right: 131px;
    font-size: 22px;
}

.txtMenuHeader {
    text-transform: none;
    font-weight: 600;
    font-size: 17px;
}

.grave {
    color: #CC4556;
}

.medio {
    color: #FAC862;
}

.fraco {
    color: #3A7397;
}

.todos {
    color: #707070;
}

.criticidadeAlert {
    border: 1.8px solid;
    border-radius: 30px;
    padding: 7px;
    font-size: 15px;
    font-weight: 800;
}

// CSS DOS CARDS ---------------------------------------------------------------- COM SUAS CORES //
.numerosDoCardAlinhamento {
    text-align: right;
    padding-top: 9%;
    margin-bottom: 5%;
}

.numerosDoCardAlinhamentoPadding {
    padding-right: 10px;
}

.numerosDoCard {
    background-color: rgb(255, 255, 255);
    font-size: 13px;
    border-radius: 30px;
    padding: 7px;
    font-weight: 800;
}

.numerodoCardVerde {
    border: 1px solid #30BF88;
    font-size: 14px;
}

.numerosCard {
    margin-right: 7px;
}

.conteudoDoCard {
    color: white;
    min-height: 200px;
}

.tituloDoCard {
    font-size: 20px;
    padding-left: 9%;
    color: white;
}

.background1 {
    background: #CC4556;
    color: white;
}

.background2 {
    background: #FAC862;
    color: white;
}

.background3 {
    background: #3A7397;
    color: white;
}

.background4 {
    background: #C6C6C6;
    color: white;
}

.subTituloRight {
    float: right;
    border-radius: 62px;
    background-color: white;
    font-size: 22px;
    padding-top: 5px;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

p.subTitulo {
    font-size: 19px;
    font-weight: 600;
}

.BordaCard2 {
    color: #F3BB49;
}

.BordaCard1 {
    color: #9C3542;
}

.BordaCard3 {
    color: #034C7B;
}

.BordaCard4 {
    color: #AFAFAF;
}

.cardsTela {
    border: 0px solid;
    border-radius: 15px;
    border-bottom: 9px solid;
}

.tituloDoCard {
    font-size: 20px;
    padding-left: 9%;
    margin-top: -1%;
}

.corTxtCardColorido {
    color: white;
}

.corDosCardColorido {
    background-color: rgb(255, 255, 255);
}

.numerodoCardVerde {
    border: 1px solid #30BF88;
    font-size: 14px;
    background-color: #EFF3F6;
}

// CSS DA TAB3 FORMULÁRIO ---------------------------------------------------------------- COM SUAS CORES //


// DROPDOWN ------------------------------------------------------------ //
.navBar {
    border: 2px solid;
    color: #4d5467;
    margin-top: -16px;
    margin-left: 43px;
    width: 75%;
    overflow: hidden;
    font-family: Arial;
    background: transparent;
    border-radius: 33px;
}

.dropdown {    
    float: left;
    overflow: hidden;
}